{% extends "layout/default.twig" %}

{% block title %}Article{% endblock %}

{% block content %}
    <article>
        <h2>{{article.title|e}}</h2>
        <p>{{article.body|e}}</p>
    </article>  
{% endblock %}