<!DOCTYPE html>
<html>
<head>
    <title>Ma page article</title>
</head>
<body>  
    <article>
        <h2>{{article.title|e}}</h2>
        <p>{{article.body|e}}</p>
    </article>  
</body>
</html>